@model eBookStore.Models.Book

@{
    ViewData["Title"] = "Add to cart";
}

@{Layout = "~/Views/Shared/_LayoutCustomer.cshtml";}

<h1>Create</h1>
<hr />
<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Id)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Id)
    </dd>

    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Title)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Title)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Info)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Info)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Bookquantity)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Bookquantity)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Price)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Price)
    </dd>

    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Author)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Author)
    </dd>
    <dt>
        Picture
    </dt>
    <dd>
        <br />
        <img src="~/images/@Model.Imgfile" height="150" />
        <br />@Model.Imgfile

    </dd>
</dl>

<h4>Order</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="AddToCart">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" name="bookId" value=@Model.Id />
            <div class="form-group">
                <label class="control-label">Quantity</label>
                <input name="Quantity" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Add to cart" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Books" asp-action="catalogue">Back to Books</a>
</div>

