@model IEnumerable<eBookStore.Models.Order>

@{
    ViewData["Title"] = "MyOrders";
}

@{Layout = "~/Views/Shared/_LayoutCustomer.cshtml";}

<h1>MyOrders</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orderdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            @*<th></th>*@
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Orderdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            @*<td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>*@
        </tr>
        }
    </tbody>
</table>
