@model IEnumerable<eBookStore.Models.Book>

@{
    ViewData["Title"] = "Books Page";
}

@{Layout = "~/Views/Shared/_Layout.cshtml";}

<section class="breadcrumb-section">
    <h2 class="sr-only">Site Breadcrumb</h2>
    <div class="container">
        <div class="breadcrumb-contents">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-area="" asp-controller="home" asp-action="index">Home</a></li>
                    <li class="breadcrumb-item active">Books</li>
                </ol>
            </nav>
        </div>
    </div>
</section>


<main class="inner-page-sec-padding-bottom">
    <div class="container">



        <div class="shop-toolbar mb--30">
            <div class="row align-items-center">
                <div class="col-xl-12 col-lg-4 col-md-4 col-sm-6 mt--10 mt-md--0 ">
                    <div class="header-search-block">
                        @using (Html.BeginForm(FormMethod.Get))
                        {
                            @Html.TextBox("searchTerm")<input type="submit"  value="Search Books here" /> @Html.ActionLink("View all", "Index", new { searchTerm = "" })
                        }
                        @*<input type="text" placeholder="Search Books here">*@

                        @*<button>Search</button>*@
                    </div>
                </div>
            </div>
        </div>

        <div class="shop-product-wrap grid with-pagination row space-db--30 shop-border">


            @if (Model.Count() == 0)
            {
                <div>
                    <p>No results found</p>
                </div>
            }
            else
            {
                @foreach (var item in Model)
                {

                    <div class="col-lg-4 col-sm-6">
                        <div class="product-card">
                            <div class="product-grid-content">
                                <div class="product-header">
                                    <a class="author">
                                        @item.Author
                                    </a>
                                    <h3><a asp-action="Details" asp-route-id="@item.Id"> @item.Title</a></h3>
                                </div>
                                <div class="product-card--body">
                                    <div class="card-image">
                                        <img src="~/image/products/@item.Imgfile" />
                                        <div class="hover-contents">
                                            <div class="hover-btns">
                                                <a asp-controller="Users" asp-action="Login" asp-route-id="@item.Id" class="single-btn">
                                                    <i class="fas fa-shopping-basket"></i>
                                                </a>
                                                <a asp-controller="Users" asp-action="Login" asp-route-id="@item.Id" class="single-btn">
                                                    <i class="fa-solid fa-comment-dots"></i>
                                                </a>
                                                <a class="single-btn" asp-action="Details" asp-route-id="@item.Id">
                                                    <i class="fas fa-eye"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="price-block">
                                        <span class="price">LKR @item.Price</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }

        </div>
    </div>
</main>



        <div>
            @using (Html.BeginForm("Index", "Home", FormMethod.Get))
            {
                @Html.TextBox("searchTerm")<input type="submit" value="Search" /> @Html.ActionLink("View all", "Index", new { searchTerm = "" })
            }
        </div>
        <br />
