@model IEnumerable<eBookStore.Models.Book>

@{
    ViewData["Title"] = "Catalogue";
}

@{Layout = "~/Views/Shared/_LayoutCustomer.cshtml";}

<h1>Catalogue</h1>
<br />
<div>
    @using (Html.BeginForm("Catalogue", "Books", FormMethod.Get))
    {
        @Html.TextBox("searchTerm")<input type="submit" value="Search" /> @Html.ActionLink("View all", "Catalogue", new { searchTerm = "" })
    }
</div>
<br />
<div class="container-fluid">
    <div class="row">

        @if(Model.Count() == 0)
        {
            <div>
                <p>No results found</p>
            </div>
        }
        else
        {
            @foreach (var item in Model)
            {
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-header">
                            @item.Title
                        </div>
                        <div class="card-body">
                            <img src="~/images/@item.Imgfile" height="150" /> <br />
                            price:@item.Price
                        </div>
                        <div class="card-footer">
                            <a asp-controller="orders" asp-action="Create" asp-route-id="@item.Id">Add to cart</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            @Html.ActionLink("Feedbacks", "Feedbacks", new { bookId = item.Id, userId = 0 })
                        </div>
                    </div>
                </div>
             }
        }
    </div>
</div>

